{% extends 'parts/base.html' %}
{% block content %}
    <div align="center" style="align-content: center">
     <img src="/uploads/{% if graph_category %}{{ graph_category[0] }}{% else %}{{ default_graph }}{% endif %}">

        {% if current_user.is_authenticated %}
                {% include 'parts/graph_form.html' %}
        {% else %}
                <form action="/login" method="post">
                    {{ message }}
                    <table>
                        <tr>
                            <td>Логин</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>Пароль</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table><br>
                    {{ form.validate_on_submit }}
                    <a href="/register">Регистрация</a>
                </form>
        {% endif %}
    </div>
{% endblock %}
