{% if current_user.is_authenticated %}
    <form action="" method="post">
        <div>
            Hi {{ current_user.login }} !
            <button type="submit">Start</button>
        </div>
    </form>
{% else %}
<form action="" method="post" >
    <table>
            <tr><td> {{ message }}</td></tr>
            <tr>
                <td>Login</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{ form.password }}</td>
            </tr>
    </table><br>
    {{ form.validate_on_submit }}
     <a href="/register">Register</a>
</form>
{% endif %}