<div align="center">
    <img src="/uploads/{{ default_graph }}" >
</div>
<form action="" method="post">
    <div align="center">
        {{ message }}
        <table>
            <tr>
                <td>Логин</td>
                <td>{{ form.login }}</td>
            </tr>
            <tr>
                <td>Пароль</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td>Подтверждение</td>
                <td>{{ form.conf_password }}</td>
            </tr>
        </table><br>
        {{ form.validate_on_submit }}
        <a href="/login">Вход</a>
    </div>
</form>