{% extends 'parts/base.html' %}
{% block content %}
    <div class="center-block" align="center"><h1>Страница результатов</h1></div>

        {% for graph in graphs %}
            <div class="panel panel-success" align="center", style="align-content: center; width: 85%;margin-top: 20px;margin-left: 6%">
                <div class="panel-heading">
                    <h3 class="panel-title">Граф - {{ graph[0] }}</h3>
                </div>

                <div class="panel-body">
                    <a href="/uploads/{{ graph[1]}}" style="float: left">
                        <img src="/uploads/{{ graph[1]}}" width="400" class="img-rounded">
                    </a>

                    <div class="weight">
                        <div style="width: 40%;max-height:400px; overflow:scroll; display:{% if not graph[2] %} none{% else %}block{% endif %}">
                            <a href="#" onclick="">
                                <h4>Веса для графа {{ graph[0] }}</h4>
                            </a>
                            <table class="table table-striped table-condensed" width="400">
                            <tr><td>Откуда</td><td>Переходы</td> <td>Куда</td></tr>
                                {% for y in graph[2]%}
                                    <tr>
                                        <td><span class="label label-info">{{ y[0] }}</span></td>
                                                                    <td>
                                                                        <div>
                                                                        |- <span class="badge">{{ y[3] }}</span>-> </br>
                                                                         <- <span class="badge">{{ y[2] }}</span>-|
                                                                        </div>
                                                                    </td>
                                        <td><span class="label label-warning">{{ y[1] }}</span></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <hr>

                    <div align="center" style="width: 50%">
                        <div>
                            {% if graph[0] == 'category'%}
                                <h4>Конверсия для графа {{ graph[0] }}</h4>
                            {% endif %}
                        </div>

                            <form id='convers_form_{{ graph[0] }}' action="/convers/{{ graph[0] }}" method="post">
                                <div align="center">
                                    {% if graph[0] == 'content' %}
{#                                        {{ form_con.dropboxStartCat }}#}
{#                                        {{ form_con.dropboxFinishCat }}#}
{#                                        {{ form_con.buttonCat }}#}
                                    {% else %}
                                        {{ form_cat.dropboxStartCat }}
                                        {{ form_cat.dropboxFinishCat }}
                                        <input type="number" name="num" pattern="\d" required >
                                        {{ form_con.numberUsers }}
                                        {{ form_cat.buttonCat }}
                                    {% endif %}
                                </div>
                                <div id="result_{{ graph[0] }}">

                                </div>
                            </form>
                            <script>
                                function request (e){
                                    e.preventDefault()
                                    $.post(
                                          $('#convers_form_{{ graph[0] }}').attr('action'),
                                          $( '#convers_form_{{ graph[0] }}' ).serialize(),

                                            function(data) {
                                              $('#result_{{ graph[0] }}').html("Конверсия " + data)
                                            });
                                          $('#convers_form_{{ graph[0] }}').submit(request)
                                    }

                                $('#convers_form_{{ graph[0] }}').submit(request)


                            </script>
                    </div>
            </div>


        {% endfor %}


{% endblock %}