<div class="center-block" align="center" style="width: 20%">
    <form class="form-horizontal"
          role="form"
          method="post"
          action="/process"
          enctype="multipart/form-data"
    >

        <div class="form-group">
            <label for="XML" class="col-sm-2 control-label">Log файл</label>
            <div class="col-sm-10">
                <input type="file" name="log" class="form-control" id="" placeholder="file">
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Отправить</button>
            </div>
        </div>
    </form>
</div>

