<div style="position: fixed;
  z-index: 101; right: 5px; top: 150px">
    {% if current_user.is_authenticated %}
        <div class="panel panel-default">
            <div style="margin: 6px;padding-left: 20px">
                <p>Привет {{ current_user.login }}

            </div>
            <div style="padding-left: 20px;padding-right: 10px">
                <p>Твои графы:</p>
                <ul class="list-group" style="max-height: 300px;overflow:scroll">
                    {% for x in current_user.pic_list %}
                        <li class="list-group-item"><a href="/results/{{ x.id }}">{{ x }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <button type="button" class="btn btn-warning center-block"><a href="/logout">Выход</a></button>
        </div>
{% endif %}
{#    {% else %}#}
{#    <form action="/login" method="post" >#}
{#        <table>#}
{#                <tr><td> {{ message }}</td></tr>#}
{#                <tr>#}
{#                    <td>Login</td>#}
{#                    <td>{{ form.username }}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>Password</td>#}
{#                    <td>{{ form.password }}</td>#}
{#                </tr>#}
{#        </table><br>#}
{#        {{ form.validate_on_submit }}#}
{#         <a href="/register">Register</a>#}
{#    </form>#}
{#    {% endif %}#}





</div>